@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  p {
    @apply text-[11px] md:text-[15px] font-[400] lg:text-[18px];
  }
  li {
    @apply text-[12px] font-[400] lg:text-[15.67px];
  }
  h1 {
    @apply text-[18px] sm:text-[25px] md:text-[27px] lg:text-[35px] font-[700];
  }
  h2 {
    @apply text-[16px] sm:text-[23px] lg:text-[27.77px] font-[700];
  }
  h3 {
    @apply text-[20px] lg:text-[26.12px] font-[700];
  }
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: theme("fontFamily.main");
}
